body {
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	font: 12pt "Tahoma";
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.full {
	display: block;
	clear: both;
	width:100%;
	float: left;
}
.page {
	width: 28.7cm;
	min-height: 20cm;
	padding: 0.5cm;
	size: landscape;
	margin: 1cm auto;
	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	font-size:12px;
}
.judul {
	text-align: center;
	color: #066;
	font-size: 24px;
	text-transform:uppercase;
}
.judul th, .judul td {
	text-align: center !important;
	border-right: none;
	border-left: none;
	border-bottom: none;
}
.jadwal th, .jadwal td {
	border: none;
}

h2 {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	color: #066;
	margin: 0;
}
.logo {
	width: 2cm;
	padding: 2mm;
	text-align: center;
}
.logo img {
	width: 100%;
	height: auto;
}
.foto {
	width: 3cm;
	height: 4cm;
	padding: 1mm;
	border: solid 1mm #CCC;
	float: left;
	text-align: center;
}
.foto img {
	width: 100%;
	height: auto;
}
.jadwal {
	float: right;
	width: 11.2cm;
	min-height: 4cm;
	height: auto;
	margin-left: 3mm;
	font-size: 11px;
}
.page .setengah {
	width: 15.7cm;
	height: 17cm;
	padding: 5mm;
	margin: 5mm;
	border: solid 1mm #CCC;
	float: left;
}
.page .setengah1 {
	width: 9.7cm;
	height: 17cm;
	padding: 5mm;
	margin: 5mm 5px 5px 0;
	border: solid 1mm #CCC;
	float: left;
}
table {
	border: solid thin #CCC;
	width: 100%;
	margin-bottom: 2mm;
}
th, td {
	border: solid thin #CCC;
	padding: 1mm 2mm;
	text-align: left;
	vertical-align: top;
}
th {
	background-color: #F5F5F5;
}
td.title {
	text-align: center !important;
}
.subpage {
	padding: 1cm;
	height: 256mm;
	size: landscape;
}
.sponsor {
	width: 100%;
	max-height: 8cm;
}

@page {
	size: A4;
	margin: 0;
	size:landscape;
}
@media print {
.full {
	display: block;
	clear: both;
	width:100%;
	float: left;
}
	.page {
	width: 28.7cm;
	min-height: 20cm;
	padding: 0.5cm;
	size: landscape;
	margin: 1cm auto;
	border: 1px #D3D3D3 solid;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	font-size:12px;
}
.judul {
	text-align: center;
	color: #066;
	font-size: 24px;
	text-transform:uppercase;
}
h2 {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	color: #066;
	margin: 0;
}
.logo {
	width: 2cm;
	padding: 2mm;
	text-align: center;
}
.logo img {
	width: 100%;
	height: auto;
}
.foto {
	width: 3cm;
	height: auto;
	padding: 1mm;
	border: solid 1mm #CCC;
	float: left;
	text-align: center;
}
.foto img {
	width: 100%;
	height: auto;
}
.jadwal {
	float: right;
	width: 11.2cm;
	min-height: 4cm;
	height: auto;
	margin-left: 3mm;
	font-size: 11px;
}
.page .setengah {
	width: 15.7cm;
	height: 17cm;
	padding: 5mm;
	margin: 5mm;
	border: solid 1mm #CCC;
	float: left;
}
.page .setengah1 {
	width: 9.7cm;
	height: 17cm;
	padding: 5mm;
	margin: 5mm 5px 5px 0;
	border: solid 1mm #CCC;
	float: left;
}
table {
	border: solid thin #CCC;
	width: 100%;
	margin-bottom: 2mm;
}
.judul th, .judul td {
	text-align: center !important;
	border-right: none;
	border-left: none;
}
.jadwal th, .jadwal td {
	border: none;
}
th, td {
	border: solid thin #CCC;
	padding: 1mm 2mm;
	text-align: left;
	vertical-align: top;
}
th {
	background-color: #F5F5F5;
}
td.title {
	text-align: center !important;
}
.kurus {
	font-weight: normal !important;
}
.gemuk {
	font-weight:700;
}
.subpage {
	padding: 1cm;
	height: 256mm;
	size: landscape;
}
.sponsor {
	width: 100%;
	max-height: 8cm;
}

@page {
	size: A4;
	margin: 0;
	size:landscape;
}
}